.headercontainer {
    display: flex;
    align-items: baseline;
    padding-right: 0px;
    margin: 0px;
}

.vertical-container {
    display: flex;
    justify-content: space-between;
}

.name-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.person-name {
    display: block;
    max-width: 10rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile-button {
    max-width: 16rem;
}

.content {
    border-radius: 10px;
    margin: 1rem;
    margin-inline: 2rem;
    padding: 1rem;
    overflow: auto;
    min-height: fit-content;
}