<h1 class="dialogtitle">Login</h1>
<form [formGroup]="loginForm" class="verticalcontainer" mat-dialog-content>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput required>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput required>
    </mat-form-field>
</form>
<mat-dialog-actions class="buttoncontainer">
    <button mat-dialog-close mat-raised-button>Close</button>
    <button [disabled]="loading || !loginForm.valid" (click)="login()" color="primary" mat-raised-button data-cy="loginFormButton">
        {{loading ? "" : "Login"}}
        <mat-spinner *ngIf="loading" color="primary" [diameter]="25"></mat-spinner>
    </button>
</mat-dialog-actions>