/* You can add global styles to this file, and also import other style files */

* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body {
    margin: 0; 
    background-color:rgb(246, 236, 255); 
}

.large-button {
    margin: 20px;
    font-size: 20px;
    padding: 20px !important;
}

h1 {
    font-size: xx-large !important;
}

h2 {
    font-size: 2rem !important;
}

h3 {
    font-size: 1.5rem !important;
}